<html ng-app="app">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://code.angularjs.org/1.4.8/angular.js" ></script>
    <script src="js/app.js" ></script>
</head>

<body>
    <h1>HELLO ANGULARJS !!!!!</h1>
    This is a new angularjs application that can calculate 3+9={{3+9}}
    <div ng-controller="appController1 as ctr1">
        {{ctr1.name}} : This message is found in the first controller
        <h3 ng-show="ctr1.showMe"> Show </h3>
        <h3 ng-hide="!ctr1.hideMe"> Hide </h3>
        <h4 ng-repeat="repeat in ctr1.text.split('')" >index : {{$index}} - value : {{repeat}}</h4>
        <h4 ng-repeat="r in ctr1.tab" >index : {{$index}} - value : {{r}}</h4>

        <table class="table">
            <theader>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Age</th>
                    <th>Occupation</th>
                    <th>Birth Date</th>
                </tr>
            </theader>
            <tbody>
                <tr ng-repeat="character in ctr1.characters">
                    <td>{{character.firstName}}</td>
                    <td>{{character.lastName}}</td>
                    <td>{{character.age}}</td>
                    <td>{{character.occupation}}</td>
                    <td>{{character.birthDate}}</td>
                </tr>
            </tbody>
        </table>

        <form ng-submit="ctr1.submitForm()">
            <div class="panel-body">
                <div class="col-xs 12 col-sm-5 col-md-5">
                    <div class="form-group">
                        <label>FirstName</label>
                        <input type="text" class="form-control" ng-model="ctr1.Object.firstName"/>
                    </div>
                    <div class="form-group">
                        <label>LastName</label>
                        <input type="text" class="form-control" ng-model="ctr1.Object.lastName" />
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <input type="text" class="form-control" ng-model="ctr1.Object.age" />
                    </div>
                    <div class="form-group">
                        <label for="form-control" >Occupation</label>
                        <select class="form-control" ng-model="ctr1.Object.occupation">
                            <option>Ninja</option>
                            <option>Shinobi</option>
                            <option>Ambu</option>
                            <option>Samurai</option>
                            <option>Hunter</option>
                            <option>Akatsuki</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Birth Date</label>
                        <input type="date" class="form-control" ng-model="ctr1.Object.birthDate" />
                    </div>
                    <input type="submit" class="btn btn-default" />
                    <button ng-click="submitForm()" class="btn btn-primary">Submit With ng-click</button>
                </div>
            </div>
        </form>
    </div>

        <div ng-controller="appController2 as ctr2">
        {{ctr2.name}} : This message is found in the second controller
    </div>
</body>
</html>
